.container{
    width: 100%;
    margin:auto;
    margin-top:30px;
}

.navbar{
    background-color: rgb(234, 221, 202);
}

.col-padding{
    padding: 50px; 

}

.bold{
    font-weight: bold;
}

.quiz_name{
    text-align: center;
    padding-bottom: 50px;
}

.task{
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    text-align: center;
}

.hint{
    display: inline-block;
}

.score{
    display: inline-block;
}

.error{
    display: block;
    color: red;
}

.correct{
    color: green;
}

.incorrect{
    color: red
}

.dd_image{
    margin-top: 20px;
    max-height: 250px;
}

.quiz_images{
    display: flex;
}

.image_selected{
    border-style: solid;
    border-color: lightskyblue;
    border-width: 5px;
}

.dropbox{
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    text-align: center;
}

.choices{
    display: flex;
}

.drop_area{
    height: 200px;
    background-color: lightgrey;
    margin-top: 20px;
    margin-bottom: 20px;
}

.choice{
    /* border-style: solid;
    border-width: 1px; */
    text-align: center;
}

.choice:hover{
    background-color: lightyellow;
}

.dd_check{
    margin-top: 40px;
}