.container{
    width: 100%;
    margin:auto;
    margin-top:30px;
}

.navbar{
    background-color: rgb(234, 221, 202);
}

.col-padding{
    padding: 50px; 

}

.bold{
    font-weight: bold;
}

.quiz_name{
    text-align: center;
    padding-bottom: 50px;
}

.task{
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    text-align: center;
}

.hint{
    display: inline-block;
}

.score{
    display: inline-block;
}

.error{
    display: block;
    color: red;
}

.correct{
    color: green;
}

.incorrect{
    color: red
}