<!--takes 1 quiz and displays the drag and drop question first. this is directly connected to the server.py -->

{% extends "layout.html" %}

{% block content %}
<!-- <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename = 'drag_and_drop.js') }}"></script>

<script>
    let question = {{question|tojson}} 
</script>

    <div class="row bold quiz_name serif">
        {{question.title}}
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row task">
                CLICK ON THE CORRECT COCKTAIL IMAGE BELOW
            </div>
            <div id="images_div" class="quiz_images">
            </div>
            <div id="results"></div>
            <div class="row dd_check">
                <div class = "check_div">
                    <button class = "check_button"> Check </button>
                    <div class = "score">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row task">
                DRAG AND DROP THE CORRECT INGREDIENTS INTO THIS BOX
            </div>
            <div id="user_answers" class="row drop_area"></div>
            <div id="choices" class="row choices"></div>
        </div>
    </div>
     

{% endblock %}