<!--takes 1 quiz and displays the drag and drop question first. this is directly connected to the server.py -->

{% extends "layout.html" %}

{% block content %}
<!-- <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename = 'drag_and_drop.js') }}"></script>

<script>
    let question = {{question|tojson}} 
    let user_answers = {{user_answers|tojson}}
</script>

    <div class="row bold serif">
        <div class="col-md-4"></div>
        <div class="col-md-4 quiz_name text-center">
            <p>{{question.title}}</p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 task">
            DRAG AND DROP THE CORRECT INGREDIENTS INTO THIS BOX
        </div>
        <div class="col-md-3"></div>
    </div>
    <!-- <div class="row"></div> -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="user_answers" class="row drop_area"></div>
            <div id="error_div" class="row"></div>
            <div id="choices" class="row choices"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row dd_check">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <button class = "check_button"> Check </button>
            <div class = "score"></div>
        </div>
        <div class="col-md-5">
            
        </div>
        <div class="col-md-3">
            <button class = "next_button"> Next </button>
            <div class = "next_feedback"></div>
        </div>
    </div>
    

{% endblock %}