{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'fill_in_the_blank.js') }}"></script>

<script>
    let question={{question|tojson}}
    let cocktails={{cocktails|tojson}}
    let user_answers = {{user_answers|tojson}}
</script>
    <div class = "row">
        <div class = "col-md-6">
            <div class = "row">
                <div class = "row bold quiz_name serif">
                    {{question.title}}
                </div>
                <br><br>
                <div class = "row">
                    <img src="{{question.image}}" width=100% alt="{{question.alt_text}}">
                </div>
            </div>
        </div>
        <div class = "col-md-6">
            <div class = "quiz_instructions">
                <span><b>Fill in the blanks </b>to complete the recipe.</span><br>
                <span>If the value is a decimal, then <b>include the 0 before the decimal point </b>(i.e. write 0.5 instead of .5).</span>
            </div>

            </br>

            <div class = "recipe_header">
                Recipe:
            </div>
            <div class = "fill_in_questions">
            </div>
            <div class = "row">
                <div class = "col-md-6 check_div">
                    <button class = "check_button"> <b>Check</b> </button>
                    <div class = "score">
                    </div>
                </div>
                <div class = "col-md-6">
                    <button class = "retry_button">Retry</button>
                </div>
            </div>
            <br>

            </br>

            <div class = "other_buttons">
                <div class = "row">
                    <div class = "col-md-6">
                        <button class = "back_button">
                            Prev Question
                        </button>
                    </div>
                    <div class = "col-md-6">
                        <button class = "quiz_home_button">
                            Quiz Home
                        </button>
                    </div>
                </div>
                <br>
            </div>
            </br>
        </div>
    </div>
    

{% endblock %}