{% extends "layout.html" %}

{% block content %}

<!--load the log_sales.js-->
<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

    <div class = "container">
        <br><br>
        <p> 
            Hello! Will you be hosting an event for your 
            friends soon? Are you studying to become a bartender? 
            Or do you simply want to learn how to make cocktails? 
            If you answered yes to any of those questions. You are 
            in the right place! Welcome to the one stop spot for 
            learning the recipes to classic cocktails!
        </p>

        <!-- should this button link to the basics page instead so that the user gets a chance to read the basics first?-->
        <button id = "start-button"><a href = "/basics">Start Learning!</a></button> 
        <br><br>
        <img src = "https://www.tastingtable.com/img/gallery/11-cocktails-to-try-if-you-like-drinking-gin/intro-1640186734.jpg" class = "home-img" alt = "Four cocktails served in wine glass with fresh fruit">

    </div>


{% endblock %}