{% extends "layout.html" %}

{% block content %}

<!--load the log_sales.js-->
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

<script>
    let cocktails = {{cocktails|tojson}} 
</script>

    <div class = "learn-container">
        <div class = "row"> 
            <div class = "col-md-6">
                <div class = "home-title"> Cocktail Database</div>
                <br>

                <p class = "instructions">
                    Hello Student! Click on any of the 
            cocktails in our database that you would 
            like to learn. Make sure you learn the recipe 
            well. We will quiz you later!
                </p>

            </div> 
        </div>
        <div class = "row" id = "cocktail-list-div"> 
        </div>

    </div>


{% endblock %}