<!--takes 1 resturant and displays it. this is directly connected to the server.py -->

{% extends "layout.html" %}

{% block content %}
<style>
    .center{
        
        text-align: center;
    }
</style>
<script type="text/javascript" src="{{ url_for('static', filename = 'learn_cocktail.js') }}"></script>
<script>
    let cocktail = {{cocktail|tojson}} 
</script>
<div id = "container">
    <br><br>
    <div class = "row">
        <div class = "col-6"> 
            <img class = "image" src="{{cocktail.image}}" width = "400">
        </div>
        <div class = "col-6"> 
            <br>
            <div id = "front" class = "center"> 
                {{cocktail.title}}
            </div>    
            <br>
            <hr>
            <div class = "center">
                <div id = "back">
                    
                </div><br>
                <button id="flip" type="button" value="Flip" onclick="flash()">
                    Flip</button>
            </div>


        </div>

    </div>


            


{% endblock %}

