<!--takes 1 resturant and displays it. this is directly connected to the server.py -->

{% extends "layout.html" %}

{% block content %}
<style>
    .center{
        padding: 70px 0;
        font-size: 50px;
        text-align: center;
    }
    .centerimage{
        text-align:center;
    }
    .flipbutton{
        text-align:center;
    }
</style>
<script type="text/javascript" src="{{ url_for('static', filename = 'learn_cocktail.js') }}"></script>
<script>
    let cocktail = {{cocktail|tojson}} 
</script>
<div id = "container">
    <br><br>
    <div class = "row">
        <div class = "col-6 center"> 
            {{cocktail.title}}
        </div>
        <div class = "col-6"> 
            <br>
            <div id = "front" class = "centerimage"> 
                
            </div>    
            <br>
            <hr>
            <div class = "flipbutton">
                <div id = "back">
                    
                </div><br>
                <button id="flip" type="button" value="Flip" onclick="flash()">
                    Flip</button>
            </div>


        </div>

    </div>


            


{% endblock %}

pul