{% extends "layout.html" %}

{% block content %}

<!--load the log_sales.js-->
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<script>
    let cocktails = {{cocktails|tojson}} 
</script>

    <div class = "learn-container">
        <div class = "row"> 
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p class = "quiz_homepage_header">Hello Student! Click on the cocktail you would like to quiz yourself on!</p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class = "row" id = "cocktail-list-div"> 
        </div>

    </div>


{% endblock %}